.button {
	width: 240px;
	padding: 20px 0;
	background-color: #e05100;
	border-radius: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
}
