@import 'tailwindcss';

:root {
	--color-primary: #e05100;
}

.container {
	margin: 0 auto;
	padding: 0 16px;
}

header {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	z-index: 10;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #e5e5e5;
}

.footer_social {
	display: grid;
	place-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #8e8e8e;
	transition: border 0.3s ease;
}

@media (hover: hover) {
	.footer_social:hover {
		border-color: var(--color-primary);
	}

	.footer_social:hover svg path {
		fill: var(--color-primary);
	}
}

@media (hover: none) {
	.footer_social:active {
		border-color: var(--color-primary);
	}

	.footer_social:active svg path {
		fill: var(--color-primary);
	}
}

.footer_social svg path {
	fill: #8e8e8e;
	transition: fill 0.3s ease;
}
