.primary_button {
	width: 240px;
	padding: 16px 0;
	background-color: var(--color-primary);
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
}

.secondary_button {
	width: 240px;
	padding: 12px 0;
	background-color: #ffffff;
	border: 2px solid var(--color-primary);
	border-radius: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	color: var(--color-primary);
}

.secondary_button:hover {
	background-color: var(--color-primary);
	color: #ffffff;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
